<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevRahul | About Me</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/particles.css">
</head>
<body>
    <canvas id="particleCanvas"></canvas>
    <header>
        <div class="header-main-container">
            <div class="logo-main-container">
                <a href="/"><div class="logo">dev-rahul </div></a>
            </div>
            <div class="navbar-main-container">
                <nav id="navbar">
                    <a href="/">Home</a>
                    <a id="active" href="/about-me">About-Me</a>
                    <a href="/projects">Projects</a>
                    <a href="/contact-me">Contact-Me</a>
                </nav>
            </div>
            <div class="icons">
                <img id="list" src="images/list.svg" alt="ico">
                <img id="cross" src="images/cross.svg" alt="ico">
            </div>
        </div>
    </header>
    <main class="about-main">
        <div class="main-info-container">
            <div class="container" id="name-container">
                <h3 id="text-animation"></h3>
            </div>
        </div>
        <div class="main-about-container">
            <div class="small-about-container">
                <div class="about-box about-box1">
                    <div class="extra-about-header">
                        <h1>About Me</h1>
                        <div class="image-logo">
                        </div>
                    </div>
                    <p><big><u><b>Personal</b></u> </big> <br>My name is Rahul Kumar Prajapat from <a href="https://www.google.com/search?q=Bundi">Bundi,Rajasthan</a>. I am 19 Year Old.
            color: aliceblue;
                    <br> <br> <big><u><b>Primary Education</b></u> </big> <br>I completed my primary schooling from Aadarsh Vidhya Mandir(<a target="_blank" href="https://www.google.com/search?q=hindoli">Hindoli</a>) and then Mayur International School(<a target="_blank" href="https://www.google.com/search?q=deoli">Deoli</a>)
                    <br><br> <big><u><b>Secondary Education</b></u> </big><br>I passed class 10th from <a target="_blank" href="https://www.google.com/search?q=sainik+school+chittorgarh">Sainik School Chittorgarh(Raj.)</a>  in 2021. I was promoted due to Covid 19 Virus and Lockdown. <br><br><big><u><b>Sr. Sec. Education</b></u> </big><br>I passed class 12th from <a target="_blank" href="https://www.google.com/search?q=sainik+school+chittorgarh">Sainik School Chittorgarh(Raj.)</a> in 2023 with Mathematics and Computer Science as domain subjects. <br>I scored 62% in finals.<br><br>
                    <big><u><b>Higher Education</b></u> </big><br>
                        I am pursuing BCA from Mainpal University <a target="_blank" href="https://www.google.com/search?q=jaipur">Jaipur</a>. Loving the new journey started in October, 2024 with C Programming, Web-Development and Mathematics. <br><br> <big><u><b>Skills</b></u></big></p>
                        <ul>
                            <li>Python: Flask, Cryptography, PyTorch etc.</li>
                            <li>JavaScript: NodeJS, Express, FrontEnd etc.</li>
                            <li>SQL : MongoDB, SupaBase, MySQL etc.</li>
                        </ul>
                        <p>
                        <big><u><b>Languages</b></u> </big><br>
                        <small>
                            <b>Hindi:</b> Very Good at reading, writting and speaking. <br>
                            <b>English:</b> Very Good at reading, writing and speaking.
                        </small> <br><br><big><u><b>Hobbies</b></u> </big><br>My hobbies are <b>Playing Mobile Games</b>, <b>Playing Cricket</b> and  <b>Teaching.</b>

                        </p>
                </div>
            </div>
        </div>
    </main>
    

    <footer id="about-footer">
        &copy 2024-26 All Rights Reserved
    </footer>
</body>
<script src="js/script.js"></script>
<script src="js/particles.js"></script>
</html>
