<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevRahul | Contact Me</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/particles.css">
</head>
<body>
    <canvas id="particleCanvas"></canvas>
    <header>
        <div class="header-main-container">
            <div class="logo-main-container">
                <a href="/"><div class="logo">dev-rahul </div></a>
            </div>
            <div class="navbar-main-container">
                <nav id="navbar">
                    <a href="/">Home</a>
                    <a href="/about-me">About-Me</a>
                    <a href="/projects">Projects</a>
                    <a id="active" href="/contact-me">Contact-Me</a>
                </nav>
            </div>
            <div class="icons">
                <img id="list" src="images/list.svg" alt="ico">
                <img id="cross" src="images/cross.svg" alt="ico">
            </div>
        </div>
    </header>
    <main class="contact-main">
        <div class="main-info-container">
            <div class="container" id="name-container">
                <h3 id="text-animation"></h3>
            </div>
        </div>
        <div class="sub-box1" id="sub-box1">
            <h2>Stay Connected</h2>
            <p>Here is how you can stay connected to me</p>
        </div>
        <div class="main-contact-box">
            <div class="sub-box" id="sub-box2">
                <h1><a target="_blank" href="https://instagram.com/rahul_x.94/"><i class="bi bi-instagram"></i></a></h1>
                <p>@rahul_x.94</p>
            </div>
            <div class="sub-box" id="sub-box3">
                <h1><a target="_blank" href="https://github.com/rahul5494/"><i class="bi bi-github"></i></a></h1>
                <p>@rahul5494</p>
            </div>
            <div class="sub-box" id="sub-box4">
                <h1><a target="_blank" href="mailto:sscrahul4556@gmail.com"><i class="bi bi-google"></i></a></h1>
                <p>sscrahul4556@gmail.com</p>
            </div>
            <div class="sub-box" id="sub-box5">
                <h1>
                    <a target="_blank" href="https://linkedin.com/in/rahul-kumar-90a9652ba"><i class="bi bi-linkedin"></i></a>
                </h1>
                <p>Rahul Kumar</p>
            </div>
            <div class="sub-box" id="sub-box6">
                <h1><a target="_blank" href="tel:+919772539583"><i class="bi bi-phone"></i></a></h1>
                <p>9772539583</p>
            </div>
            <div class="sub-box" id="sub-box7">
                <h1><a target="_blank" href="https://wa.me/9772539583"><i class="bi bi-whatsapp"></i></a></h1>
                <p>9772539583</p>
            </div>
        </div>
    </main>
    

    <footer>
        &copy 2024-26 All Rights Reserved
    </footer>
</body>
<script src="js/script.js"></script>
<script src="js/particles.js"></script>
</html>
