<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevRahul | Home</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/particles.css">
</head>
<body>
    <canvas id="particleCanvas"></canvas>
    <header>
        <div class="header-main-container">
            <div class="logo-main-container">
                <a href="/"><div class="logo">dev-rahul </div></a>
            </div>
            <div class="navbar-main-container">
                <nav id="navbar">
                    <a id="active" href="/">Home</a>
                    <a href="/about-me">About-Me</a>
                    <a href="/projects">Projects</a>
                    <a href="/contact-me">Contact-Me</a>
                </nav>
            </div>
            <div class="icons">
                <img id="list" src="images/list.svg" alt="ico">
                <img id="cross" src="images/cross.svg" alt="ico">
            </div>
        </div>
    </header>
    <main>
        <div class="main-info-container">
            <div class="container" id="name-container">
                <h3 id="text-animation"></h3>
            </div>
        </div>
        <div class="home-info">
            <div class="box" id="box1">
                <h2>Hi,</h2>
                <h3>I am Rahul Kumar</h3>
                <h4>#Chittorian</h4>
                <p>You Can Find Source Code Of The Website on GitHub</p>
            </div>
        </div>
        
        
    </main>
    

    <footer>
        &copy 2024-26 All Rights Reserved
    </footer>
</body>
<script src="js/script.js"></script>
<script src="js/particles.js"></script>
</html>
