<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevRahul | My Projects</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/particles.css">
</head>
<body>
    <canvas id="particleCanvas"></canvas>
    <header>
        <div class="header-main-container">
            <div class="logo-main-container">
                <a href="/"><div class="logo">dev-rahul </div></a>
            </div>
            <div class="navbar-main-container">
                <nav id="navbar">
                    <a href="/">Home</a>
                    <a href="/about-me">About-Me</a>
                    <a id="active" href="/projects">Projects</a>
                    <a href="/contact-me">Contact-Me</a>
                </nav>
            </div>
            <div class="icons">
                <img id="list" src="images/list.svg" alt="ico">
                <img id="cross" src="images/cross.svg" alt="ico">
            </div>
        </div>
    </header>
    <main id="projects-main">
        <div class="main-info-container">
            <div class="container" id="name-container">
                <h3 id="text-animation"></h3>
            </div>
        </div>
        <div class="projects-main-container">
            <div class="projects-container" id="project1">
                <h1>OnlyMaths</h1>
                <p>This is a Mathematics tool that is build without any backend. It can be used to find area and perimeter of polygons up to 10 sided cyclic polygons. Volume, total surface and curved surface area of 3d shapes, Trigonometric and Reverse Trigonometric function's values. <br>This website also has ability to accept direct payments via UPI QRCode.</p><br>
                <p>You can find the website at <a href="https://onlymaths.onrender.com">OnlyMaths</a> and its source code can be found at <a href="https://github.com/rahul5494/onlymathstools">GitHub<i class="bi bi-github"></i></a></p>

            </div>
            <div class="projects-container" id="project2">
                <h1>School Website</h1>
                <p>This website has lot of features. In this website the user can take admission in the school without any paperwork and can check result of past classes and the current class. The student can also update his data and can pay fees as per the class via UPIQR Code in just clicks.<br> <br></p>
                <p>You can find this website on <a href="https://proschoolweb.onrender.com">ProSchoolWeb</a> and it's source code can be found at <a href="https://github.com/rahul5494/website">GitHub<i class="bi bi-github"></i></a></p>
            </div>
            <div class="projects-container" id="project3">
                <h1>AI Chatbot</h1>
                <p>This is an AI Chat bot that can answer your questions. You can run this on your computer; I was not able to deploy this website because it is very much resource consuming web app. <br>This app was made with the help of openAI pre-trained model.</p>
                <p>You can find the source code of the project on <a href="https://github.com/rahul5494/chatbot">GitHub<i class="bi bi-github"></i></a></p>
            </div>
            <div class="projects-container" id="project4">
                <h1>MyWebsite</h1>
                <p>This website is the demo of how your business website should actually look like. This website has everything that you should know about me and ways to connect to me. <br></p>
               <p> Please visit <a href="https://dev-rahul.onrender.com">Dev-Rahul</a> and you can find source code at <a href="https://github.com/rahul5494/devrahul">GitHub<i class="bi bi-github"></i></a></p>
            
            </div>
            <div class="projects-container" id="project5">
                <h1>Project Coming Soon...</h1>
                <p>I am currently working on some projects that you can see on <a href="https://github.com/rahul5494/">GitHub<i class="bi bi-github"></i></a></p>
            </div>
            <div class="projects-container" id="project6">
                <h1>Project Coming Soon...</h1>
                <p>I am currently working on some projects that you can see on <a href="https://github.com/rahul5494/">GitHub<i class="bi bi-github"></i></a></p>
            </div>

        </div>
        
    </main>
    

    <footer>
        &copy 2024-26 All Rights Reserved
    </footer>
</body>
<script src="js/script.js"></script>
<script src="js/particles.js"></script>
</html>
